.main {
  font-family: "Futura";
  padding: 139px 300px;
  background-color: #6886b9;
}

body{
  background-image: url(../Asset/bg.png);
  background-size: cover;
}

.tengah {
  margin: auto;
  color: white;
  border-radius: 30px;
  display: flex;
  width: 880px;
  height: 400px;
  box-shadow: 5px 10px 8px #1a315b;
  background-color: #415882;
}

.tengah h1 {
  padding-top: 10px;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.tengah h5 {
  padding-top: 20px;
  text-align: center;
}

.form-group {
  width: 500px;
  margin-top: 35px;
  font-weight: bold;
  padding-right: 100px;
}

#exampleInputEmail1 {
  border-radius: 10px;
}

.btn {
  margin-top: 15px;
  align-items: center;
  background-color: #4771b7;
  color: white;
  margin-left: 100px;
}

#klik {
  font-weight: bold;
  border-radius: 10px;
}

.container
{
  align-items: center;
  margin: auto;
}

.bottom
{
margin-left: 25%;
}

